@model IEnumerable<tuto.Models.Reservation>

@{
    ViewData["Title"] = "Reservations";
}

<h1>Mes Reservations</h1>
 
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdClient)
            </th>
            <th>
                Name
                @*@Html.DisplayNameFor(model => model.Client.Firstname)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateArrivee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateDepart)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.IdChambre)
            </th>
            @*
            <th>
                @Html.DisplayNameFor(model => model.Chambre.NumeroChambre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chambre.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chambre.Prix)
            </th>*@
            
            <th></th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdClient)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.Firstname)  @Html.DisplayFor(modelItem => item.Client.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateArrivee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateDepart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdChambre)
                </td>
                @*
                <td>
                    @Html.DisplayFor(modelItem => item.Chambre.NumeroChambre)
                </td>
                
                <td>
                     @Html.DisplayFor(modelItem => item.Chambre.Type)
                </td>
                <td>
                      @Html.DisplayFor(modelItem => item.Chambre.Prix)
                </td>
                *@
                
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Factures" asp-action="GenerFacture" >Generer Facture</a>
                    |


