@model tuto.Models.Facture

@{
    ViewData["Title"] = "Details";
}

<h1>Details Facture</h1>
<hr />
<div>


    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Firstname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Firstname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Lastname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Lastname)
        </dd>
        

        <table class="table">
            <thead>
        <tr>
            <th>Numero Chambre</th>
            <th>
                Type
            </th>
            <th>
                Prix
            </th>
            <th></th>
        </tr>
    </thead>
            <tbody>
                @foreach (var item in Model.Client.Reservations)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Chambre.NumeroChambre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Chambre.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Chambre.Prix)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Montant)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Montant)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateFacture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateFacture)
        </dd>
    </dl>
</div>
@*<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@
